
*{
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
  }
  
  .menu-area li a {
    text-decoration: none;
  }
  
  .menu-area li {
    list-style-type: none;
  }
  
  .custom-padding{
    padding-top: 25px;
  }
  
  nav {
    position: relative;
    width: calc(100% - 60px);
    margin: 0 auto;
    padding: 8px ;
    background: #97230e;
    z-index: 1;
    text-align: left;
    padding-right: 2%;
  }
  
  .menu-area li {
    display: inline-block;
  }
  
  .menu-area a {
    color: #fff;
    font-weight: 300;
    letter-spacing: 1px;
    text-transform: uppercase;
    display: block;
    padding: 0 15px;
    font-size: 14px;
    font-weight: bold;
    line-height: 30px;
    position: relative;
    z-index: 1;
  }
  .menu-area a:hover {
    background: tomato;
    color: #fff;
  }
  
  .menu-area a:hover:after {
    transform: translateY(-50%) rotate(-35deg);
  }
  
  nav:before {
    position: absolute;
    content: '';
    border-top: 10px solid tomato;
    border-right: 10px solid tomato;
    border-left: 10px solid transparent;
    border-bottom: 10px solid transparent;
    top: 100%;
    left: 0;
  }
  
  nav:after {
    position: absolute;
    content: '';
    border-top: 10px solid tomato;
    border-left: 10px solid tomato;
    border-right: 10px solid transparent;
    border-bottom: 10px solid transparent;
    top: 100%;
    right: 0;
  }